.geral{
	font-family: Verdana;
	font-size: 10pt;
	line-height: normal;
	color: #808080;
	text-align: center;
	margin-top: 6;
    margin-bottom: 6;
}

a:link {
	color: #754f00;
}
a:visited {
	color: #754f00;